@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root { height: 100%; }
body {
    @apply bg-slate-50 text-slate-900 antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a { @apply text-sky-600 hover:text-sky-700; }


.input {
    @apply w-full border rounded-lg p-2 bg-gray-50 focus:ring focus:ring-blue-200;
}

.btn-primary {
    @apply px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition;
}
